body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}

header {
  background: rgba(0, 174, 255, 0.42);
  color: #ffffff;
}

header h1 {
  margin: auto;
  padding: 50px 0;
  font-size: 2.1em;
  font-size: 35px;
  text-align: center;
}

header h1 a:hover {
  color: #ffffff;
}

header h1 a {
  color: #000000;
  text-decoration: none;
}

main {
  margin: 0 auto;
  width: 90%;
}

main > p {
  margin: 40px 0;
}

#register span {
  font-size: 0.8em;
}

.req {
  padding-left: 0.5em;
  color: #aa0505ee;
}

#application-form input[type='text'],
#application-form textarea,
#application-form input[type='email'],
#application-form input[type='date'],
#application-form input[type='tel'],
#application-form input[type='password'] {
  width: 100%;
  padding: 8px;
  margin: 2px;
}

#application-form > div > div:not(#gender) {
  display: flex;
}

#application-form > div > div p {
  width: 100%;
  margin: 10px 32px 10px 0;
}

#gender input,
#gender p {
  margin: 10px 0;
}

input[type='submit'] {
  height: 38px;
  background-color: #dfdfdf;
  color: #000000;
  padding: 12px 200px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}

input[type='submit']:hover {
  background-color: rgba(0, 174, 255, 0.42);
  color: #ffffff;
}

footer {
  background-color: rgba(0, 174, 255, 0.42);
  padding: 15px;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 750px) {
  header h1 {
    padding: 30px 0;
    font-size: 24px;
  }

  #application-form > div > div:not(#gender) {
    flex-direction: column;
  }

  #application-form > div > div p {
    width: auto;
    margin: 10px 32px 10px 0;
  }

  input[type='submit'] {
    height: 38px;
    background-color: #dfdfdf;
    color: #000000;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
  }
}
